@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
}

.window .header {
    background-color: #f0f0e4;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.winbtn {
    background-color: #f0f0e4;
    border: none;
    color: #111111;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.winbtn p {
    padding: 0.5rem 0;
}


.window span {
    display: flex;
    gap: 2rem;
}

.window .body {
    height: 100%;
    background-color: #1f1f1f;
    overflow-y: auto;    /* Enable vertical scrolling */
    overflow-x: hidden;  /* Prevent horizontal scrolling */
    flex: 1 1 auto;      /* Allow the body to grow and shrink */
}

/* Responsive styles for mobile */
@media (max-width: 600px) {
    html, body {
        overflow: auto !important;
    }
    .window {
        width: 70vw;
        height: 60vh;
        left: 50% !important;
        top: 10vh !important;
        transform: translate(-50%, 0) !important;
        min-width: unset;
        min-height: unset;
        z-index: 9999;
        display: flex;
        flex-direction: column;
    }

    .projects {
        padding: 1rem 2rem;
    }

    .window .header {
        padding: 0 0.5rem;
        font-size: 1rem;
        flex-shrink: 0;
    }

    .winbtn p {
        padding: 0.3rem 0;
        font-size: 0.95rem;
    }

    .window span {
        gap: 1rem;
    }

    .window .body {
        font-size: 0.95rem;
        padding: 0.5rem;
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1 1 auto;
        max-height: 100%;
    }
}