@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
}

.window .header {
    background-color: #f0f0e4;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.winbtn {
    background-color: #f0f0e4;
    border: none;
    color: #111111;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.winbtn p {
    padding: 0.5rem 0;
}


.window span {
    display: flex;
    gap: 2rem;
}

.window .body{
    height: inherit;
    background-color: #1f1f1f;
}